{
  "extends": ["@antfu", "@unocss"],

  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "vue/multi-word-component-names": "off",
    "no-undef": "off",
    "semi": 0,
    "no-tabs": 0,
    "comma-spacing": "off",
    "@typescript-eslint/comma-spacing": "off",
    "comma-style": "off",
    "vue/component-tags-order": "off",
    "vue/block-tag-newline": "off",
    "no-trailing-spaces": "off",
    "no-multiple-empty-lines": "off",
    "no-console": "off",
    "arrow-spacing": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/quotes": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/object-curly-spacing": "off",
    "@typescript-eslint/space-before-blocks": "off",
    "@typescript-eslint/keyword-spacing": "off",
    "unused-imports/no-unused-vars": "off",
    "typescript-eslint/comma-dangle": "off",
    "padded-blocks": "off",
    "arrow-parens": "off",
    "no-sparse-arrays": "off",
    "key-spacing": "off",
    "dot-notation": "off",
    "prefer-const": "off",
    "@typescript-eslint/brace-style": "off",
    "no-useless-return": "off",
    "antfu/if-newline": "off",
    "unused-imports/no-unused-imports": "off",
    "sort-imports": "off",
    "@typescript-eslint/semi": "off",
    "quote-props": "off",
    "vue/custom-event-name-casing": "off",
    "import/order": "off",
    "operator-linebreak": "off",
    "no-useless-catch": "off"
  }
}
